# Credenciais (private) 
gcp-key.json
.env
.env.*
!.env.example

# Ambiente Python
venv/
.venv/
__pycache__/
*.pyc
.pytest_cache/
.idea/

# Airflow
logs/
*.log

# Dados gerados localmente 
data/raw/*
data/bronze/*
data/silver/*
data/gold/*
!data/raw/.gitkeep
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep
data/state/

# SO
.DS_Store
